.cart-container {
  position: fixed;
  /* right: %; */
  top: 120px;
  transform: translate(0, 10%);

  /* width: 100%; */
  /* height: 100%; */
}

.user {
  margin-right: 10px;
  text-align: left;
}

.add-leader {
  color: white;
  background-color: #0652dd;
  margin: 8px;
  padding: 5px;
}
.add-leader:hover {
  opacity: 0.7;
  background-color: #0652dd;
}
.info {
  display: flex;
  max-width: 300px;
  align-items: center;
  justify-content: space-around;
  background-color: #303952;
  color: white;
  margin: 10px 10px 0 10px;
  border-radius: 30px;
}
.info:hover {
  background-color: #0652dd;
  color: white;
}

.info img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
